@import url(./style.css);

#home {
    background-color: rgb(10, 8, 8);
}

#tools {
    background-color: #4b4343;
    border-radius: 10px;
}

.bg-cool {
    height: 6rem;
}

.bg-cool h3 {
    margin-left: 2%;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.percent-bar {
    background-color: #4b4343;
    height: 1rem;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    border-radius: 5px;

}

ul {
    line-height: 29px;
}

.percent {
    background-color: rgb(166, 106, 222);
    height: 1rem;
    border-radius: 5px;

}

.seventy {
    margin-right: 30%;
}

.sixty {
    margin-right: 40%;
}

.fifty {
    margin-right: 50%;
}

.thirty {
    margin-right: 70%;
}

/* Small devices */
@media screen and (max-width:700px) {


    .bg-cool {
        margin-left: 0.5%;
    }
}